body{
    margin: 0;
    padding: 0;
    background-color: #FEF2DE;
    font-family: 'Jacques Francois', serif;
    letter-spacing: 1px;
}

:root{
    --tamanho-header: 80px;
    --tamanho-footer: 100px;
    --tamanho-banner: calc(100vh - var(--tamanho-header) + 
    var(--tamanho-footer) + 30px);

    --cor-fundo: #FEF2DE;
    --laranja: #F49459;
    --caramelo: #C3905E;
    --marrom: #4E3B28;
    --cinza: #3E3E3E;
}

/* Header */

.header{
    height: var(--tamanho-header);
}

.container{
    display: flex;
    width: 80%;
    margin: auto;
}

.header .logo{
    width: 30%;
}

.header .container{
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    width: 300%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.button{
    width: 15%;
    height: 30px;
    background-color: var(--marrom);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Banner */

.banner{
    height: var(--tamanho-banner);
    color: black;
    background-color: var(--laranja);
}

.banner .container{ 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.banner .container .titulo{
    font-size: 50px;
    margin: 0;
    cursor: context-menu;
}

.banner .container .subtitulo{
    margin: 5px;
    font-size: 35px;
    cursor: context-menu;
}

.banner .container .button{
    width: 25%;
    height: 10%;
    background-color: var(--marrom);
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

/* Vida de Lewis */

.pagina{
    height: var(--tamanho-banner);
    color: black;
    background-color: var(--cor-fundo);
}

.pagina .container{
    display: grid;
    height: 100%;
}

.pagina .content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
    text-align: center;
    margin: 0;
}

.pagina .titulo{
    font-size: 35px;
    margin: 0;
    cursor: context-menu;
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.pagina .content .bloco{
    text-align: justify;
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    width: 350px;
    padding-top: 40px;
}

.pagina .content .bloco #imagem{
    width: 100%;
    border-radius: 5px;    
}

.pagina .content p{
    margin-top: 0;
    padding-top: 5px;
    bottom: 10px;
    font-size: 10px;
}

.pagina .text{
    padding-right: 70px;
    text-align: justify;
    margin-top: 10px;
}

.text h3{
    font-size: 16px;
    padding-left: 0;
}

/* Footer */

.footer{
    height: var(--tamanho-footer);
    background-color: var(--caramelo);
}

.footer .container .boxes{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.boxes .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 0;
}

.box p{
    font-size: 20px;
}

/* Top 3 livros mais populares */

.page .container{
    height: var(--tamanho-banner);
    display: flex;
    flex-direction: column;
}

.page .container .titulo{
    font-size: 35px;
    margin: 0;
    cursor: context-menu;
    text-align: center;
    padding-top: 40px;
}

.page .container .subtitulo{
    margin: 5px;
    font-size: 25px;
    cursor: context-menu;
    text-align: center;
    color: var(--cinza);
    padding-top: 10px;
}

.page .boxes{
    display: flex;
    justify-content: space-around;
}

.page .boxes .box a{
    text-align: justify;
    font-size: 12px;
}

.page .boxes .box img{
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 60%;
    border-radius: 20px; 
    padding: 15px;
}

