/* pagina mural */
:root{
    --tamanho-header: 80px;
    --tamanho-banner: calc(100vh - var(--tamanho-header) + 130px);

    --cor-fundo: #FEF2DE;
    --laranja: #F49459;
    --caramelo: #C3905E;
    --marrom: #4E3B28;
    --cinza: #3E3E3E;
    --cinza-claro: #D9D9D9;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Jacques Francois', serif;
}

.janela {
  display: flex;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: none;
  background-color: var(--laranja);
}

.header-left h1 {
  color: var(--cinza);
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.logo img{
    width: 100%;
    padding: 0;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: var(--cinza);
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 40%;
  color: var(--cor-fundo);
  background-color: var(--marrom);
  border-radius: 10px;
  border: none;
  text-align: center;
  padding: 2% 5%;
  font-family: Arial, Helvetica, sans-serif;
}

.btn-nav-white {
  width: 40%;
  background-color: var(--cor-fundo);
  border: none;
  border-radius: 10px;
  text-align: center;
  padding: 2% 5%;
  font-family: Arial, Helvetica, sans-serif;
}

.btn-nav-white h3 {
  color: var(--marrom);
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: var(--cor-fundo);
  color: var(--marrom);
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

/* Sortear */
.dash {
  width: 80%;
  position: relative;
  top: 0;
  left: 20%;
  background-color: var(--cor-fundo);
  height: 100vh;
  overflow: auto;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.info h3 {
  color: var(--cinza);
  font-weight: 300;
  font-size: 1.2rem;
}

.info h3 span {
  font-weight: 800;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container button{
    width: 20%;
}

.container #resposta{
    margin-top: 50px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}

#resposta img{
    width: 150px;
    border-radius: 5px;
}