:root{
    --tamanho-header: 80px;
    --tamanho-banner: calc(100vh - var(--tamanho-header) + 130px);

    --cor-fundo: #FEF2DE;
    --laranja: #F49459;
    --caramelo: #C3905E;
    --marrom: #4E3B28;
    --cinza: #3E3E3E;
    --cinza-claro: #D9D9D9;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--laranja);
    font-family: 'Jacques Francois', serif;
    letter-spacing: 1px;
}

/* Header */
header{
    height: var(--tamanho-header);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.logo img{
    max-width: 100%;
    padding: 0;
    margin-bottom: 10px;
}

/* Banner */
.banner{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.banner .content{
    background-color: var(--cor-fundo);
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 10px;
    width: 50%;
}

.banner .content .image{
    width: 100%;
}

.image img{
    width: 100%;
    border-radius: 10px;
}

.banner .content .div-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    padding: 40px;
    gap: 10px;
}

.div-inputs h1{
    font-size: 30px;
    text-align: center;
}

.div-inputs input{
    width: 100%;
    height: 15px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: var(--cinza-claro);
    padding: 5px;
}

.div-inputs p{
    font-size: 12px;
}

.div-inputs a{
    color: black;
    font-weight: 600;
    text-decoration: none;
}

.button{
    width: 100%;
    height: 30px;
    background-color: var(--marrom);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.alerta_erro{
  display: flex;
  justify-content:end;
  align-items: flex-start;
}

.card_erro {
  display: none;
  background-color: var(--cor-fundo);
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: var(--marrom) 3px solid;
  padding: 10px;
  margin-right: 2%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 18px;
}

.loading-div {
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}