:root{
    --tamanho-header: 10vh;
    --tamanho-footer: 15vh;
    --tamanho-banner: calc(100vh - var(--tamanho-header) - 
    var(--tamanho-footer));

    --cor-fundo: #FEF2DE;
    --laranja: #F49459;
    --caramelo: #C3905E;
    --marrom: #4E3B28;
    --cinza: #3E3E3E;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--cor-fundo);
    font-family: 'Jacques Francois', serif;
    letter-spacing: 1px;
}


/* Header */

.header{
    height: var(--tamanho-header);
    position: fixed;
    width: 100%;
    background-color: var(--cor-fundo);
}

.header .logo{
    width: 30%;
    max-width: 100%;
}

.header .container{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    width: 300%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.button{
    width: 15%;
    height: 30px;
    background-color: var(--marrom);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Banner */

.banner{
    height: var(--tamanho-banner);
    color: black;
    background-color: var(--laranja);
}

.banner .container{ 
    display: flex;
    width: 80%;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.banner .container .titulo{
    font-size: 50px;
    margin: 0;
    cursor: context-menu;
}

.banner .container .subtitulo{
    margin: 5px;
    font-size: 35px;
    cursor: context-menu;
}

.banner .container .button{
    width: 25%;
    height: 10%;
    background-color: var(--marrom);
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

/* section com caroussel/slideshow */

.caroussel{
  height: var(--tamanho-banner);
}

.caroussel .container{
    display: flex;
    justify-content: center;
}

.div-slide{
    display: none;
    animation-name: fade;
    animation-duration: 1.5s;
    width: 300px;
}

.div-slide img{
    padding: 20px;
    width: 80%;
}

.anterior, .proximo {
    cursor: pointer;
    width: auto;
    padding: 16px;
    color: var(--cinza);
    font-weight: 600;
    font-size: 25px;
    transition: 0.6s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }